@import url('https://fonts.googleapis.com/css?family=Lato');
:root {
    --primary-color: #568c9b;
    --primary-hover-color: #64a5b7;
    --bg-color: #333;
    --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
}

body{
	 
     font-family: 'Lato', sans-serif;
     background-size: cover;

}


  a:hover {
        color: var(--primary-color);
  }

 #search{
     	float: right;
     	margin-top: 5rem;
     }
.btn {
	float:right;
	border-radius: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* Header */
header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;

}

    header nav ul {
        display: flex;
        margin-top:1rem;
    }

    header nav li {
        margin: 0 1rem;
        
    }

    

    header.inner {
        background: var(--bg-color);
        border-bottom: 4px solid var(--primary-color);
        position: relative;
        box-shadow: var(--box-shadow);
    }
    .container {
    max-width: 960px;
    padding: 1rem 4rem;
    margin: auto;
    overflow: hidden;
}

